__pycache__
*.pyc
*.mp3
*.wav
.DS_Store
/audio/letter-names
/output
/text

/cwops/Session9/flashcards/
/cwops/Session8/flashcards/
/cwops/Session7/flashcards/
/cwops/Session6/flashcards/
/cwops/Characters/flashcards/
